<header class="bg-gradient-to-r from-blue-400 to-blue-800">
  <div class="mx-auto ml-3 p-1 flex items-center justify-between">
    <fa-icon [icon]="faBars"></fa-icon>
    <h1 class="text-white text-4xl font-bold">Header</h1>
  </div>
</header>

<app-working-table></app-working-table>

<nav class="w-32 mx-auto text-center">
  <ul class="text-white flex">
    <li class="mr-6">
      <a href="#" class="menu-item">Home</a>
    </li>
    <li class="mr-6">
      <a href="#" class="menu-item">About</a>
    </li>
    <li class="mr-6">
      <a href="#" class="menu-item">Contact</a>
    </li>
  </ul>
</nav>

<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  [gridOptions]="gridOptions"
></ag-grid-angular>
